# **Question 1**

In [1]:
import pandas

In [2]:
pandas.__version__

'1.1.4'

# **Question 2**

In [3]:
import numpy as np

In [4]:
a = np.array([1,2,3,4])

In [5]:
import pandas as pd

In [6]:
pd.Series(a)

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
s1 = pd.Series([1,2,3])

In [8]:
s1

0    1
1    2
2    3
dtype: int64

In [9]:
df1 = pd.DataFrame({"Column 1":['Value 1','Value 2','Value 3'],
                   "Column 2":['Value 1','Value 2','Value 3'],
                   "Column 3":['Value 1','Value 2','Value 3']})

In [10]:
df1

  Column 1 Column 2 Column 3
0  Value 1  Value 1  Value 1
1  Value 2  Value 2  Value 2
2  Value 3  Value 3  Value 3

In [11]:
df1['Column 4']=s1

In [12]:
df1

  Column 1 Column 2 Column 3  Column 4
0  Value 1  Value 1  Value 1         1
1  Value 2  Value 2  Value 2         2
2  Value 3  Value 3  Value 3         3

# **Question 4**

In [13]:
import seaborn as sns

In [14]:
a = sns.get_dataset_names()

In [15]:
a

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [16]:
mpgds = sns.load_dataset('mpg')

In [17]:
mpgds

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

# **Question 5**

In [18]:
mpgds['origin']

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
393       usa
394    europe
395       usa
396       usa
397       usa
Name: origin, Length: 398, dtype: object

# **Question 6**

In [19]:
mpgds[mpgds['origin']=='usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]